FLASK_APP=app/__init__.py
FLASK_ENV=development
SECRET_KEY=supersecredkey
DB_URI=sqlite:///site.db
MAIL_USERNAME=someemailusername
MAIL_PASSWORD=emailpassword
MAIL_SERVER=emailserver
MAIL_DEFAULT_SENDER=pdefualt@send.com
APP_FOLDER=/usr/src/app