{% extends 'layout/layout.html' %}

{% block main %}

<main>
    <div class='row main-row'>


        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">

            <div class="card upload-card rounded-4 shadow-lg mb-4">

                <ul id="uploaded-file-list" class="list-group list-group-flush">
                </ul>

                <div id="card-body" class="card-body">
                    <form action="" id="file-form">
                        <div class="d-flex py-3">
                            <div class="upload-icon text-primary">
                                <input type="file" class="form-control" id="hidden-file-input" multiple hidden>
                                <div id="upload-file-button" class="hover">
                                    <i class="fas fa-plus-circle fa-2x"></i>
                                </div>
                            </div>
                            <div class="d-flex flex-column mx-2">
                                <h3 id="upload-file-text" class="card-title pricing-card-title hover my-0">Select File
                                </h3>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="border-0 list-group-item"><input class="form-control form-control-sm" type="email"
                            placeholder="To Email" id="from-email-input">
                    </li>
                    <li class="list-group-item border-0"><input class="form-control form-control-sm" type="email"
                            placeholder="From Email" id="to-email-input">
                    </li>
                    </li>
                    <li class="list-group-item border-0"><textarea class="form-control form-control-sm" type="text"
                            multiline rows=3 placeholder="Message" id="message-input"></textarea>
                    </li>
                    </li>
                </ul>

                <div class="card-footer py-3">
                    <button type="button" class="w-100 btn btn-lg btn-primary" id='submit-transfer'>Transfer</button>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-8 d-flex align-items-center">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Z Transfer</h1>
                <p class="fs-5 text-muted">Using the latest in blockchain technology Z-Transfer allows fast file
                    sharing for free with all the benefits of blockchain security and privacy
                </p>
            </div>
        </div>


    </div>

</main>

<script>
    const fileList = []

    // Create more file button li
    const moreButtonLi = document.createElement('li')

    // Form submit button
    const submitTransfer = document.getElementById("submit-transfer")

    // Uploaded files UL
    const uploadedFileList = document.getElementById("uploaded-file-list")

    // Get hidden inputs
    const hiddenFileInput = document.getElementById("hidden-file-input")

    // Get card body
    const cardBody = document.getElementById("card-body")

    // Handle file input click
    const handleFileInputClick = () => {
        hiddenFileInput.click()
    }

    // Add event listeners to buttons
    document.getElementById("upload-file-button").addEventListener('click', handleFileInputClick)
    document.getElementById("upload-file-text").addEventListener('click', handleFileInputClick)

    const convertSize = (bytes) => {
        const kb = bytes * 0.001
        if (kb === 0) {
            return `${bytes} bytes`
        }
        const truncate = Math.trunc(kb)
        return `${truncate} KB`
    }

    // For each file in file list append li
    const handleAddFileLiToList = () => {
        fileList.forEach((file, index) => {
            // Create Li
            const li = document.createElement('li')
            li.className = "file-list-item list-group-item d-flex justify-content-between align-items-start bg-light"
            const liHtml = `
                <div class="ms-2 me-auto">
                    <div class="my-0">${file.name}</div>
                    <div class="file-info text-muted fw-light my-0">${convertSize(file.size)} - ${file.type}</div>
                </div>
            `
            li.innerHTML = liHtml

            // Create Delete button
            const deleteButton = document.createElement('span')
            deleteButton.className = "file-delete-button badge hover bg-danger rounded-pill"
            deleteButton.innerHTML = "x"
            deleteButton.addEventListener('click', () => {
                handleItemDelete(index)
            })

            // Append Li
            uploadedFileList.appendChild(li)

            // Append delete button
            li.appendChild(deleteButton)
        })
    }

    const handleItemDelete = (index) => {
        fileList.splice(index, 1)
        updateFileListHtml()
    }


    // Hide main card body
    const handleSelectFileHide = () => {
        if (fileList.length <= 0) {
            cardBody.classList.remove("visually-hidden")
        } else {
            cardBody.classList.add("visually-hidden")
        }
    }

    // Append add more button to UL
    const handleMoreButtonLiAppend = () => {
        const moreButtonLiHtml = `
                <div class="d-flex align-items-center">
                    <div class="upload-icon text-primary">
                        <div>
                            <i class="fas fa-plus-circle fa-2x"></i>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center text-muted flex-column mx-2">
                        <span class="d-block">Add more files</span>
                        <div class="remaining-space">
                            <span class="fw-light">1 file added - </span>
                            <span class="fw-light">2.0 GB remaining</span>
                        </div>
                    </div>
                </div>
            `

        // If files in list append Li
        if (fileList.length > 0) {
            // Add ID and classes to li
            moreButtonLi.id = "upload-more-button"
            moreButtonLi.className = "hover list-group-item py-3 bg-light"

            // Set li inner html and append to list
            moreButtonLi.innerHTML = moreButtonLiHtml
            uploadedFileList.appendChild(moreButtonLi)

            // Add event listener to button
            moreButtonLi.addEventListener('click', handleFileInputClick)

            // Remove if no files
        } else {
            moreButtonLi.removeEventListener('click', handleFileInputClick)
            moreButtonLi.remove()
        }
    }

    // File upload input change handler
    const handleFileUploadFile = (e) => {
        // Add file to list
        fileList.push(e.target.files[0])
        e.target.value = "";
        updateFileListHtml()
    }

    const updateFileListHtml = () => {
        // Rest file list Ul
        uploadedFileList.innerHTML = "";
        handleAddFileLiToList()

        handleSelectFileHide()
        handleMoreButtonLiAppend()
    }

    hiddenFileInput.addEventListener('change', handleFileUploadFile, false)

    const handleSubmitData = () => {
        const data = new FormData()
        for (const file of fileList) {
            data.append("files[]", file, file.name)
        }

        data.append("test", new Blob(), "test.file")

        return fetch('/upload-files', {
            method: 'POST',
            body: data
        })
    }

    // Update uploaded file list on input change
    submitTransfer.addEventListener('click', handleSubmitData)

</script>


{% endblock main %}