{% extends 'layout/layout.html' %}

{% block main %}

<main>
    <div class='row main-row'>


        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">

            <div class="card upload-card rounded-4 shadow-lg mb-4">

                <ul id="uploaded-file-list" class="list-group list-group-flush">
                    <li class="list-group-item bg-light">An placeholder</li>
                </ul>

                <div id="card-body" class="card-body">
                    <form action="" id="file-form">
                        <div class="d-flex py-3">
                            <div class="upload-icon text-primary">
                                <input type="file" class="form-control" id="hidden-file-input" multiple hidden>
                                <div id="upload-file-button" class="hover">
                                    <i class="fas fa-plus-circle fa-2x"></i>
                                </div>
                            </div>
                            <div class="d-flex flex-column mx-2">
                                <h3 id="upload-file-text" class="card-title pricing-card-title hover my-0">Select File
                                </h3>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>

                <div class="card-footer py-3">
                    <button type="button" class="w-100 btn btn-lg btn-primary" id='submit-transfer'>Z-Transfer</button>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-8 d-flex align-items-center">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Z Transfer</h1>
                <p class="fs-5 text-muted">Using the latest in blockchain technology Z-Transfer allows fast file
                    sharing for free with all the benefits of blockchain security and privacy
                </p>
            </div>
        </div>


    </div>

</main>

<script>
    // Add more file button
    const moreButtonLi = document.createElement('li')
    const addMoreFilesHtml = `
        <div class="d-flex align-items-center">
            <div class="upload-icon text-primary">
                <div>
                    <i class="fas fa-plus-circle fa-2x"></i>
                </div>
            </div>
            <div class="d-flex justify-content-center text-muted flex-column mx-2">
                <span class="d-block">Add more files</span>
                <div class="remaining-space">
                    <span class="fw-light">1 file added - </span>
                    <span class="fw-light">2.0 GB remaining</span>
                </div>
            </div>
        </div>
    `

    const handleFileInputClick = () => {
        hiddenFileInput.click()
    }
    // Form submit button
    const submitTransfer = document.getElementById("submit-transfer")

    // Uploaded file UL
    const uploadedFileList = document.getElementById("uploaded-file-list")

    // Get hidden inputs
    const hiddenFolderInput = document.getElementById("hidden-folder-input")
    const hiddenFileInput = document.getElementById("hidden-file-input")

    // Get card body
    const cardBody = document.getElementById("card-body")

    // Add event listeners to buttons
    document.getElementById("upload-file-button").addEventListener('click', handleFileInputClick)

    document.getElementById("upload-file-text").addEventListener('click', handleFileInputClick)

    const handleSelectFileHide = () => {
        if (cardBody.classList.contains("visually-hidden")) {
            cardBody.classList.remove("visually-hidden")
        } else {
            cardBody.classList.add("visually-hidden")
        }
    }

    const handleAddMoreFileAppend = () => {
        if (cardBody.classList.contains("visually-hidden")) {
            moreButtonLi.id = "upload-more-button"

            const liClassList = [
                "hover",
                "list-group-item",
                "py-3", "bg-light"
            ]

            for (let i = 0; i < liClassList.length; i++) {
                moreButtonLi.classList.add(liClassList[i])
            }

            moreButtonLi.innerHTML = addMoreFilesHtml

            // Append button to list
            uploadedFileList.appendChild(moreButtonLi)

            // Add event listener to button
            moreButtonLi.addEventListener('click', handleFileInputClick)
        } else {
            moreButtonLi.removeEventListener('click', handleFileInputClick)
            moreButtonLi.remove()
        }
    }

    // Update uploaded file list on input change
    submitTransfer.addEventListener('click', () => {
        handleSelectFileHide()
        handleAddMoreFileAppend()
    })


</script>


{% endblock main %}