{% extends 'layout/layout.html' %}

{% block main %}

<main>
    <div class='row main-row'>


        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">

            <div class="card upload-card rounded-4 shadow-lg mb-4">
                <!-- <div class="card-header text-center py-3 ">
                    <h4 class="my-0 fw-normal">Upload File</h4>
                </div> -->

                <div class="card-body">
                    <div class="d-flex py-5 align-items-center">
                        <div class="upload-icon text-primary">
                            <i class="fas fa-plus-circle  fa-2x"></i>
                        </div>
                        <div class="d-flex flex-column mx-2">
                            <h3 class="card-title pricing-card-title my-0">Select File</h3>
                            <a id="upload-folder-button" class="text-muted fs-7 my-0">or select folder</a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>

                <div class="card-footer py-3">
                    <button type="button" class="w-100 btn btn-lg btn-primary" id='add-row'>Upload</button>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-8 d-flex align-items-center">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Z Transfer</h1>
                <p class="fs-5 text-muted">Using the latest in block chain technology Z-Transfer allows fast file
                    sharing for free with all the benefits of block chain security and privacy
                </p>
            </div>
        </div>


    </div>

</main>


{% endblock main %}