<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <img class="mb-2" src="{{ url_for('static', filename='assets/logo.jpeg') }}" alt="" width="24" height="19">
            <small class="d-block mb-3 text-muted">&copy; 2021</small>

            <h5>Z-Transfer</h5>
            <ul class="list-unstyled text-small">
            </ul>
        </div>
    </div>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href=>

<script src="{{ url_for('static', filename='js/fa.all.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
</div>
</body>

</html>